In [1]:
import sqlalchemy
import pandas as pd
import ast
import json
#! pip install psycopg2

In [9]:
#server is down, so no worries (this credentials will fail, use yours)
username = 'postgres'
password = 'VTouW7wxMnr9Q0uHXKHt'
host_name = 'containers-us-west-177.railway.app'
port = 6025
db_name = 'railway'

conn_str = 'postgresql://{}:{}@{}:{}/{}'.format(username, password, host_name, port, db_name)
engine = sqlalchemy.create_engine(conn_str)
query = 'SELECT * FROM prediction;'

In [10]:
data_server = pd.read_sql_query(query, engine)

In [11]:
data_server.head()

,id,observation_id,observation,prediction,predicted_class,true_class
0,4,1b553034-0b2b-435b-b614-ce0a6c8d5f83,"{""observation_id"": ""1b553034-0b2b-435b-b614-ce...",0.176363,1,1
1,5,36ec1461-5190-496c-b82f-95c7ae9ff59f,"{""observation_id"": ""36ec1461-5190-496c-b82f-95...",0.105295,1,0
2,6,6f38f480-c0a0-45fb-81cd-ab56f0bb6351,"{""observation_id"": ""6f38f480-c0a0-45fb-81cd-ab...",0.105295,1,0
3,7,e7ab1073-5193-4ec6-aa07-efb0bc97acbb,"{""observation_id"": ""e7ab1073-5193-4ec6-aa07-ef...",0.105295,1,0
4,8,ec925f54-c0dd-4527-b941-fcb87a12ec1c,"{""observation_id"": ""ec925f54-c0dd-4527-b941-fc...",0.104111,1,0

In [ ]:
data_server = data_server.set_index('id')

In [31]:
data_server = data_server.sort_index()

In [32]:
data_server.head()

,observation_id,observation,prediction,predicted_class,true_class
id,,,,,
3,ae3e0d41-7c19-4ecc-8d32-767e3bfdb52a,"{""observation_id"": ""ae3e0d41-7c19-4ecc-8d32-76...",0.118630,1,0
4,1b553034-0b2b-435b-b614-ce0a6c8d5f83,"{""observation_id"": ""1b553034-0b2b-435b-b614-ce...",0.176363,1,1
5,36ec1461-5190-496c-b82f-95c7ae9ff59f,"{""observation_id"": ""36ec1461-5190-496c-b82f-95...",0.105295,1,0
6,6f38f480-c0a0-45fb-81cd-ab56f0bb6351,"{""observation_id"": ""6f38f480-c0a0-45fb-81cd-ab...",0.105295,1,0
7,e7ab1073-5193-4ec6-aa07-efb0bc97acbb,"{""observation_id"": ""e7ab1073-5193-4ec6-aa07-ef...",0.105295,1,0

In [19]:
data_server.to_csv("Raw_TestDataset.csv", index=False)

#### Treat Raw Dataset

In [120]:
df_treated = data_server.set_index('observation_id')

In [4]:
#df_treated = pd.read_csv('data/Raw_TestDataset.csv')

In [7]:
#df_treated = df_treated.set_index('observation_id')

In [10]:
df_treated.head()

,observation,prediction,predicted_class,true_class
observation_id,,,,
ae3e0d41-7c19-4ecc-8d32-767e3bfdb52a,"{""observation_id"": ""ae3e0d41-7c19-4ecc-8d32-76...",0.118630,1,0
1b553034-0b2b-435b-b614-ce0a6c8d5f83,"{""observation_id"": ""1b553034-0b2b-435b-b614-ce...",0.176363,1,1
36ec1461-5190-496c-b82f-95c7ae9ff59f,"{""observation_id"": ""36ec1461-5190-496c-b82f-95...",0.105295,1,0
6f38f480-c0a0-45fb-81cd-ab56f0bb6351,"{""observation_id"": ""6f38f480-c0a0-45fb-81cd-ab...",0.105295,1,0
e7ab1073-5193-4ec6-aa07-efb0bc97acbb,"{""observation_id"": ""e7ab1073-5193-4ec6-aa07-ef...",0.105295,1,0

In [11]:
df_class = df_treated[['prediction','predicted_class', 'true_class']]

In [12]:
df_class.head()

                                      prediction  predicted_class  true_class
observation_id
ae3e0d41-7c19-4ecc-8d32-767e3bfdb52a    0.118630                1           0
1b553034-0b2b-435b-b614-ce0a6c8d5f83    0.176363                1           1
36ec1461-5190-496c-b82f-95c7ae9ff59f    0.105295                1           0
6f38f480-c0a0-45fb-81cd-ab56f0bb6351    0.105295                1           0
e7ab1073-5193-4ec6-aa07-efb0bc97acbb    0.105295                1           0

In [13]:
observation_list = [json.loads(obs) for obs in df_treated["observation"]]

In [14]:
df_observation = pd.DataFrame(observation_list).set_index('observation_id')

In [15]:
df_observation.head()

,Type,Date,Part of a policing operation,Latitude,Longitude,Gender,Age range,Officer-defined ethnicity,Legislation,Object of search,station
observation_id,,,,,,,,,,,
ae3e0d41-7c19-4ecc-8d32-767e3bfdb52a,Person search,2022-01-01T00:35:00+00:00,False,NaN,NaN,Male,18-24,Black,Criminal Justice Act 1988 (section 139B),Offensive weapons,nottinghamshire
1b553034-0b2b-435b-b614-ce0a6c8d5f83,Person search,2022-01-01T01:05:06+00:00,False,52.574809,-0.241137,Male,10-17,Asian,Misuse of Drugs Act 1971 (section 23),Controlled drugs,cambridgeshire
36ec1461-5190-496c-b82f-95c7ae9ff59f,Person search,2022-01-01T01:14:23+00:00,NaN,51.506255,-0.074901,Male,10-17,Asian,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,city-of-london
6f38f480-c0a0-45fb-81cd-ab56f0bb6351,Person search,2022-01-01T01:20:32+00:00,NaN,51.506255,-0.074901,Male,10-17,Asian,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,city-of-london
e7ab1073-5193-4ec6-aa07-efb0bc97acbb,Person search,2022-01-01T01:28:56+00:00,NaN,51.506255,-0.074901,Male,10-17,Asian,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,city-of-london

In [16]:
df_treated = pd.concat([df_observation, df_class], axis = 1)

In [17]:
df_treated.head()

,Type,Date,Part of a policing operation,Latitude,Longitude,Gender,Age range,Officer-defined ethnicity,Legislation,Object of search,station,prediction,predicted_class,true_class
observation_id,,,,,,,,,,,,,,
ae3e0d41-7c19-4ecc-8d32-767e3bfdb52a,Person search,2022-01-01T00:35:00+00:00,False,NaN,NaN,Male,18-24,Black,Criminal Justice Act 1988 (section 139B),Offensive weapons,nottinghamshire,0.118630,1,0
1b553034-0b2b-435b-b614-ce0a6c8d5f83,Person search,2022-01-01T01:05:06+00:00,False,52.574809,-0.241137,Male,10-17,Asian,Misuse of Drugs Act 1971 (section 23),Controlled drugs,cambridgeshire,0.176363,1,1
36ec1461-5190-496c-b82f-95c7ae9ff59f,Person search,2022-01-01T01:14:23+00:00,NaN,51.506255,-0.074901,Male,10-17,Asian,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,city-of-london,0.105295,1,0
6f38f480-c0a0-45fb-81cd-ab56f0bb6351,Person search,2022-01-01T01:20:32+00:00,NaN,51.506255,-0.074901,Male,10-17,Asian,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,city-of-london,0.105295,1,0
e7ab1073-5193-4ec6-aa07-efb0bc97acbb,Person search,2022-01-01T01:28:56+00:00,NaN,51.506255,-0.074901,Male,10-17,Asian,Police and Criminal Evidence Act 1984 (section 1),Offensive weapons,city-of-london,0.105295,1,0

In [18]:
df_treated.isna().sum()

Type                               0
Date                               0
Part of a policing operation    1309
Latitude                        1171
Longitude                       1171
Gender                             0
Age range                          0
Officer-defined ethnicity          0
Legislation                        0
Object of search                   0
station                            0
prediction                         0
predicted_class                    0
true_class                         0
dtype: int64

In [21]:
df_treated.to_csv("data/test_data.csv", index=True)

In [22]:
df_treated.shape

(4000, 14)